:root {
    --gray: #6b6b6b;
    --purple: #664efc;
    --fnt-lrg: 4.8rem;
    --fnt-mdm: 3.2rem;
    --fnt-smll: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.4;
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

a { text-decoration: none; }
ul { list-style-type: none; }

.header__nvbr {
    height: 8rem;
}

.nvbr__tbl {
    display: none;
}

.elmt--flx, .cntnr--flx {
    display: flex;
    align-items: center;
}

.elmt--grd, .cntnr--grd {
    display: grid;
}

.elmt--flx-btwn, .cntnr--flx-btwn {
    justify-content: space-between;
}

.elmt--wdth, .cntnr--wdth {
    width: 90%;
}

.elmt--mrgn-auto, .cntnr--mrgn-auto {
    margin: 0 auto;
}

.elmt--ft-cntnt, .cntnr--ft-cntnt {
    width: fit-content;
}

.main__img, .elmt--ttl, .cntnr--ttl {
    width: 100%;
}

.img__phone {
    max-width: 40rem;
}

.fnt--lrg {
    font-weight: 800;
    font-size: var(--fnt-lrg);
}

.fnt--mdm {
    font-size: var(--fnt-mdm);
}

.fnt--smll {
    font-weight: 400;
    font-size: var(--fnt-smll);
}

.bttn {
    height: 4rem;
    border-radius: 0.4rem;
    border: transparent;
    background-color: var(--purple);
}

.bttn__lnk {
    width: 100%;
    padding: 0.8rem 1.2rem;
}

.bttn__lnk__spn, .bttn--clr-wht {
    color: white;
    font-weight: 500;
}

.bttn__lnk__spn::after {
    content: ' - its free';
    font-weight: 100;
}

.cntnt__prgrph {
    margin: 1.5rem 0;
    color: var(--gray);
}

.main__sctn__scnd {
    margin: 10rem 0 8rem 0;
}

.sctn__scnd_icons {
    max-width: 40rem;
    margin-bottom: 3rem;
}

.elmt--clr-prpl {
    color: var(--purple);
    font-weight: 800;
}

.sctn__scnd__phone {
    max-width: 30rem;
    margin: 5rem 0;
}

.sctn__fgr {
    height: 5rem;
    margin: 1.5rem 0 0.8rem 0;
    position: relative;
}

.sctn__fgr > img {
    position: absolute;
}

.sctn__fgr > img:nth-child(2){
    left: 2rem;
}

.sctn__fgr > img:nth-child(3){
    left: 4.5rem;
}
.sctn__fgr > img:nth-child(4){
    left: 7rem;
}
.sctn__fgr > img:nth-child(5){
    left: 9.5rem;
}
.sctn__fgr > img:nth-child(6){
    left: 12rem;
}
.sctn__fgr > img:nth-child(7){
    left: 14.5rem;
}
.sctn__fgr > img:nth-child(8){
    left: 17rem;
}
.sctn__fgr > img:nth-child(9){
    left: 19.5rem;
}

.footer__sctn {
    margin: 5rem 0;
    gap: 3rem 10rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.footer__sctn > ul > li:first-child > a, .nvbr__alink {
    color: black;
    font-weight: 800;
}

.footer__sctn > ul > li {
    margin: 0.5rem 0;
}

.footer__sctn > ul > li:first-child {
    margin-bottom: 1.2rem;
}

.footer__sctn > ul > li > a {
    color: var(--gray);
    position: relative;
}

.footer__sctn > ul > li > a::after {
    content: '';
    width: 105%;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left center;
    transform: rotateY(90deg);
    transition: transform 700ms;
    background-color: black;
}

.footer__sctn > ul > li > a:hover::after {
    transform: rotateY(0deg);
    transition: transform 1s;
}


/*              LOGIN IN            */
.elmt--wdth-two, .cntnr--wdth-two {
    width: 80%;
}

.main__mrgn-tb {
    min-height: 100vh;
    margin: 3rem auto 5rem auto;
}

.lgn__ttl {
    margin: 5rem 0 2rem 0;
    font-size: 2.4rem;
}

.sctn__lst {
    margin-left: 2rem;
}

.sctn__lst > li {
    margin: 2rem 0;
}

.sctn__lst > li:first-child{
    list-style-type: '\01F388';
}

.sctn__lst > li:nth-child(2){
    list-style-type: '\01F5DE\FE0F';
}

.sctn__lst > li:last-child {
    list-style-type: \01F4A1;
}

.main__sctn__frm {
    max-width: 50rem;
}

.sctn__frm {
    gap: 3rem 0;
}

.fnt--bld {
    font-weight: bold;
}

.frm__input {
    height: 4rem;
    padding: 0.4rem 0 0.4rem 2rem;
    outline: 0;
    border-radius: 0.6rem;
    border: 1px solid gainsboro;
}

.alink__dcrtn {
    text-decoration: 2px underline var(--purple);
}